.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}
.homepage-bgimage {
  background: url("https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjB8MTIyNTA3MHx8ZW58MHx8fHx8");
  height: 100%;
  background-position: center;
  background-repeat: auto;
  background-size: cover;
  background-attachment: fixed; 
}


.main {
  padding: 20px;
}
  
.board-form {
  margin-bottom: 20px;
}

.board-container {
  display: flex;
  gap: 20px;
}

.board-card {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-card {
  background-color: #e0e0e0;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
}

.card {
  background-color: #d0d0d0;
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
}
